@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table width="75%" cellpadding="5" cellspacing="6" align="center"> 
        <tr> <td bgcolor="orange" align="center">Home</td> 
            <td bgcolor="orange" align="center">Downloads</td> 
            <td bgcolor="orange" align="center">Miscellaneous</td> 
            <td bgcolor="orange" align="center">About Us</td> 
            </tr> 
        </table>

    </div>
</body>
</html>
